body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  background-color: #F2F2F2;
}

.centred {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------------------- начало стилизации -------------------------------- */

.main-header {
  padding-bottom: -14px;
  position: relative;
  background-color: #ffffff;

}

/* .navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  } */

.logo-navigation {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.main-navigation,
.features-leisure-list,
.footer-social {
  list-style: none;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;

  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-navigation a {
  color: #000000;
}


.main-navigation a:hover {
  color: #81B3D2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.site-navigation-current {
  padding: 15px 0;
  width: 240px;
  text-align: center;
}

.site-navigation:nth-child(2) {
  margin-right: 240px;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active {
  color: #766357;
}

.container,
.container-inner {
  background-color: #ffffff;
}

.main-intro {
  background-image: url("../img/bg-photo.jpg");
  background-repeat: no-repeat;
  background-color: #81B3D2;
  width: 1200px;
  padding: 75px 0 74px 0;
}

.features-sedona {
  padding-top: 63px;
  padding-left: 340px;
  padding-right: 340px;
  padding-bottom: 50px;
}

.features-sedona h1 {
  margin: 0;
  padding: 14px 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.features-sedona p {
  margin: 0;
  padding: 16px 0;
  line-height: 26px;
  color: #333333;
}

.features {
  display: flex;
  flex-direction: column;
}

.features-advantage {
  background-color: #81B3D2;
  color: #ffffff;
}

.features-point-left,
.features-point-right {
  width: 400px;
  box-sizing: border-box;
  padding: 45px 60px ;
}

.features-point-left {
  float: left;
}

.features-point-right {
  float: right;
  padding-top: 45px;
  padding-bottom: 0;
}

.features-foto {
  font-size: : 0;
  line-height: 0;
}

.features-advantage h2,
.features-leisure h2 {
  margin: 0;
  padding: 17px 0;
  font-size: 21px;
  font-weight: bold;
}

.features-leisure p {
  color: #333333;
  margin: 0;
  padding: 16px 0;
}

.features-leisure-list {
  margin: 0;
  padding: 0;
  display: flex;
}

/* .features-icon {
  margin-bottom: 30px;
} */

.features-leisure-item {
  width: 400px;
  padding: 60px 45px 85px 45px;
}

.features-interest {
  padding: 56px 350px 35px;
}

.features-interest h2 {
  margin: 0;
  font-size: 30px;
  line-height: 78px;

}

.features-interest p {
  margin: 0;
  line-height: 24px;
  color: #333333;
}

.last {
  background-color: #eeeeee;
}

.search-hotel{
  width: 568px;
  margin: 0 auto;
  position: relative;
}

.search-hotel h2 {
  font-size: 21px;
  color: white;
  background-color: #766357;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.search-hotel h2:hover {
  background-color: #604E43;
}

.search-hotel h2:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.3);
}

form.search {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 568px;
  /* flex-direction: column; */
  justify-content: space-between;
  /* align-items: flex-start; */
  position: absolute;
  padding: 55px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 7px 15px 5px rgba(0, 1, 1, 0.15);
}


.search-data {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 29px;
}
.search-data input {
  width: 338px;
  margin: 0;
  /* margin-left: auto; */
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 12px;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  color: #000000;
  border-style: none;
}



.button-search {
  background-color: #81B3D2;
  color: white;
}

.button-search:hover {
  background-color: #669EC0;
}

.footer-index {
  padding: 0;
  margin: 0;
  position: relative;
}


.map {
  font-size: 0;
  line-height: 0;
  margin-bottom: -120px;
}

.map-sedona {
  width: 1200px;
  height: 595px;
}

.main-footer-index {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 5;
}


.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-index .main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-link,
.footer-social,
.footer-copyright {
  margin: 0;
  width: 400px;
  padding: 0;
}

.footer-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 13px;
}

.main-footer a,
.footer-link a,
.footer-copyright a {
  color: #000000;
}

.footer-social {
  width: 400px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  background-color: #81B3D2;
  font-size: 0;
  line-height: 0;
  margin: 0 3px;
}

.social-button:hover {
  background-color: #669EC0;
}

.social-button svg {
  fill: #ffffff;
}

.social-button:active svg {
  opacity: 0.3;
}



.footer-copyright a{
  display: flex;
  justify-content: center;
  padding-top: 2px;
}

.footer-by {
  width: 110px;
  padding-top: 10px;
}

.footer-copyright svg {
  fill: #000000;
}

.footer-copyright:hover svg {
  fill: #81b3d2;
}

.footer-copyright:active svg {
  fill: #bdbbbc;
}


/* -------------------------- стилизую внутренюю -------------------------- */


.container-inner {
  text-align: left;
}

 .search-inner {
  background-image: url("../img/inner-background.jpg");
  background-repeat: no-repeat;
  background-color: #81B3D2;
  color: #ffffff;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
  padding: 26px 72px 33px;
}

.search-conditions {
  display: flex;
}

.search-result {
  width: 255px;
  display: flex;
  flex-direction: column;
}

.search-request-choice {
  line-height: 25px;
  font-size: 14px;
}

.search-conditions h3 {
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

.search-sort ul {
  list-style: none;
}

.search-sort a {
  color: #000000;
}


.search-price {
  width: 320px;
  margin-left: auto;
}

.search-price p, {
  font-size: 14px;
  text-align: center;
}

.search-price button {
  font-size: 14px;
  text-align: center;
  border: 2px solid #ffffff;
}

.search-price button:hover {
  color: #000000;
  border: 2px solid #ffffff;
  background-color: #ffffff;
}

.search-find {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.search-find a {
  color: #000000;
}

.search-find a:hover {
  color: #81B3D2;
}

.search-find a:active {
  color: rgba(0, 0, 0, 0.3);
}



.search-sort {
  font-size: 12px;
  line-height: 18px;
  padding: 0px 72px;
  display: flex;
}

h3.search-find {
  width: 135px;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 32px;
  padding-right: 30px;
}

.search-sort p {
  width: 80px;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 32px;
}

.search-select,
.search-range {
  display: flex;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 32px;
}

.search-select {
  flex-wrap: wrap;
}

.search-select li {
  padding-right: 30px;
}

.search-range {
  margin-left: auto;
}

.search-range li {
  margin: 0 6px;
}

.search-range-current svg  {
  fill: #81B3D2;
}

.search-range-current svg:hover,
.search-range-current svg:active  {
  fill: #81B3D2;
}

.search-range-passive svg {
  fill: #CACACA;
}

.search-range-passive svg:hover {
  fill: #000000;
}

.search-range-passive svg:active {
  fill: #81B3D2;
}


.find-result {
  padding: 0 72px;
  display: flex;
  flex-direction: column;
}

.hotel {
  display: flex;
  align-items: center;
}

.hotel img {
  width: 135px;
  height: 90px;
  background-color: #81B3D2;
  /* padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px; */
  }

.hotel-wrapper,
.hotel-type,
.hotel-price {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hotel-wrapper {
  min-width: 280px;
  padding-left: 30px;
  padding-top: 23px;
  padding-bottom: 30px;
}

.hotel h1 {
 margin: 0;
 padding-bottom: 7px;
/*  padding-top: 24px;
 font-size: 21px;
 line-height: 26px;*/
}


.type-price {
  display: flex;
}

.hotel-type {
  width: 110px;
  padding-right: 7px;
}

.hotel-price {
  width: 142px;
}

.hotel-price-preview {
  padding-bottom: 16px;
}

.rating {
  width: 110px;
  margin-left: auto;
  margin-top: auto;

}

.rating p {
  font-size: 14px;
  background-color: #f2f2f2;
  badding-bottom: 5px;
  padding-top: 1px;
  text-align: center;
}

.search-select-passive a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81B3D2;
}

.search-select-passive a:hover {
  color: #81B3D2;
  border-bottom: 1px dotted #81B3D2;
}

.search-select-passive a:active {
  color: #000000;
  border-bottom: 0;
}

.search-select-current a,
.search-select-current a:hover,
.search-select-current a:active {
  color: #81B3D2;
}


.hotel-price-preview {
  padding-bottom: 15px;
  font-size: 14px;
  color: #333333;
}

.search-sort,
.hotel {
  border-bottom: 1px solid #e5e5e5;
}

.button-detail {
  margin: 0;
  background-color: #81b3d2;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: bold;
}

.button-detail:hover {
  background-color: #669EC0;
}

.button-reserve {
  background-color: #766357;
}

.button-reserve:hover {
  background-color: #604E43;
}

.button-detail a:active,
.button-reserve a:active {
  color: rgba(225, 225, 225, 0.3);
}
