body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  line-height: 21px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.site-navigation,
.features-leisure-item,
.footer-social {
  list-style: none;
}

.main-navigation a,
.site-navigation a {
  color: #333;
}

.main-intro {
  background-image: url("img/background-photo.jpg");
  background-repeat: no-repeat;
  background-color: #81B3D2;
}
