body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.centred {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


/* -------------------------------- Анимация начало -------------------------------- */

@-webkit-keyframes hide {

  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
}

  100% {
    -webkit-transform: rotate(360deg) scale(0);
            transform: rotate(360deg) scale(0);
    opacity: 0;
  }

}

@keyframes hide {

  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
}

  100% {
    -webkit-transform: rotate(360deg) scale(0);
            transform: rotate(360deg) scale(0);
    opacity: 0;
  }

}

@-webkit-keyframes show {

    0% {
    -webkit-transform: rotate(360deg) scale(0);
            transform: rotate(360deg) scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
  }

}

@keyframes show {

    0% {
    -webkit-transform: rotate(360deg) scale(0);
            transform: rotate(360deg) scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
  }

}

/* -------------------------------- Анимация окончание -------------------------------- */

/* -------------------------------- начало стилизации -------------------------------- */

.main-header {
  position: relative;
  background-color: #ffffff;
}

.logo-navigation {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.main-navigation,
.features-leisure-list,
.footer-social {
  list-style: none;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;

  width: 1200px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover {
  color: #81B3D2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.site-navigation-current {
  padding: 15px 0;
  width: 240px;
  text-align: center;
}

.site-navigation:nth-child(2) {
  margin-right: 240px;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active {
  color: #766357;
}

.container,
.container-inner {
  background-color: #ffffff;
}

.main-intro {
  background-image: url("../img/bg-photo.jpg");
  background-repeat: no-repeat;
  background-color: #81B3D2;
  width: 1200px;
  padding: 75px 0 74px 0;
}

.features-sedona {
  padding-top: 47px;
  padding-left: 320px;
  padding-right: 320px;
  padding-bottom: 31px;
}

.features-sedona h1 {
  margin: 0;
  padding: 14px 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.features-sedona p {
  margin: 0;
  padding: 14px 0 18px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features-advantage {
  background-color: #81B3D2;
  color: #ffffff;
}

.features-point-left,
.features-point-right {
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 45px 40px ;
}

.features-point-left {
  float: left;
}

.features-point-right {
  float: right;
  padding-top: 45px;
  padding-bottom: 0;
}

.features-foto {
  line-height: 0;
}

.features-advantage h2,
.features-leisure h2 {
  margin: 0;
  padding: 3px 55px 23px;
  font-size: 21px;
  font-weight: bold;
}

.features-leisure {
  font-size: 0;
  line-height: 0;
}

.features-leisure h2 {
  padding-top: 40px;
}

.features-advantage p,
.features-leisure p {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  margin: 0;
  padding: 21px 9px 0;
}

.features-leisure p {
  color: #333333;

  padding: 10px 50px 0;
}

.features-leisure-list,
.features-leisure-last {
  margin: 0;
  padding: 60px 0 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-leisure-item {
  width: 400px;
}

.features-interest {
  padding: 31px 350px 49px;
}

.features-interest h2 {
  margin: 0;
  font-size: 30px;
  line-height: 78px;
}

.features-interest p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.last {
  background-color: #eeeeee;
}

.features-leisure-last {
  padding: 47px 0 58px;
}

.last h2 {
  padding: 0px 130px 23px;
  line-height: 21px;
}

.last span {
  font-size: 14px;
  line-height: 21px;
}

.last p {
  padding: 22px 69px 0;
}

.search-hotel{
  width: 568px;
  margin: 0 auto;
  position: relative;
}

.search-hotel h2 {
  font-size: 21px;
  color: white;
  background-color: #766357;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;

  cursor: pointer;
}

.search-hotel h2:hover {
  background-color: #604E43;
}

.search-hotel h2:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.3);
}

form.search {
  width: 568px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  position: absolute;
  padding: 55px;
  padding-top: 57px;
  background-color: #ffffff;
  color: #000000;
  -webkit-box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.select-date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 33px;
}

.calend-wrapper {
  position: relative;
  margin-left: auto;
}

form.search-hide {
  -webkit-animation-name: hide;
          animation-name: hide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

form.search-show {
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.search-data,
.select-date {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  position: relative;
}

.icon-calend {
  position: absolute;

  width: 21px;
  height: 23px;

  top: 5px;
  right: 9px;

  background-color: transparent;
  fill: rgba(169, 169, 169, 1.0);
}

.icon-calend:hover svg {
  fill: rgba(0, 0, 0, 1.0);
}

.icon-calend:active svg {
  fill: rgba(129, 179, 210, 1.0);
}

.search-hotel input {
  width: 334px;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  color: #000000;
  border: 2px solid #f2f2f2;
  outline: none;

  cursor: text;
}

.search-hotel input:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
}

.search-hotel input:focus {
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
}

.persons-mature,
.persons-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 25px;
}

.persons-mature {
  width: 226px;
}

.persons-mature input,
.persons-child input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 114px;
  padding-right: 0;
  text-align: center;

  outline: none;
}

.button-plus,
.button-minus {
  position: absolute;
  font-size: 0;
  width: 38px;
  height: 38px;

  top: -3px;
  right: 0;

  border: 0;
  /* outline: none; */

  background-color: transparent;

  cursor: pointer;
}

.button-minus {
  right: 76px;
}

.button-minus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;

  background-color: #A9A9A9;

  top: 18px;
  left: 14px;
}

.button-plus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;

  background-color: #A9A9A9;

  top: 18px;
  left: 14px;
}

.button-plus::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);

  background-color: #A9A9A9;

  top: 18px;
  left: 14px;
}

.button-plus:hover::before,
.button-plus:hover::after,
.button-minus:hover::before,
.button-minus:hover::after {
  background-color: #000000;
}

.button-plus:active::before,
.button-plus:active::after,
.button-minus:active::before,
.button-minus:active::after {
  background-color: #81B3D2;
}

.persons-child {
  width: 179px;
}

.button-search {
  background-color: #81B3D2;
  font-size: 21px;
  font-weight: bold;
  color: white;
  height: 58px;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* outline: none; */
  border-width: 0;
}

.button-search:hover {
  background-color: #669EC0;
}

.button-search:active {
  background-color: #5496BD;
  color: rgba(255, 225, 225, 0.3);
}

.footer-index {
  padding: 0;
  margin: 0;
  position: relative;
}

.map {
  font-size: 0;
  line-height: 0;
  margin-bottom: -120px;
  background-color: #c6efb5;
}

.map-sedona {
  width: 1200px;
  height: 595px;
}

.main-footer-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 5;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-index .main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-link,
.footer-social,
.footer-copyright {
  margin: 0;
  width: 400px;
  padding: 0;
}

.footer-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 13px;
}

.main-footer a,
.footer-link a,
.footer-copyright a {
  color: #000000;
}

.footer-social {
  width: 400px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  background-color: #81B3D2;
  font-size: 0;
  line-height: 0;
  margin: 0 3px;
}

.social-button:hover {
  background-color: #669EC0;
}

.social-button:active {
  background-color: #5496BD
}

.social-button svg {
  fill: #ffffff;
}

.social-button:active svg {
  opacity: 0.3;
}

.footer-copyright a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2px;
  padding-right: 5px;
}

.footer-by {
  width: 85px;
  padding-top: 10px;
  padding-right: 4px;
}

.footer-copyright svg {
  fill: #000000;
}

.footer-copyright:hover svg {
  fill: #81b3d2;
}

.footer-copyright:active svg {
  fill: #bdbbbc;
}

/* -------------------------- стилизую внутренюю -------------------------- */

.container-inner {
  text-align: left;
}

 .search-inner {
  background-image: url("../img/inner-background.jpg");
  background-repeat: no-repeat;
  background-color: #81B3D2;
  color: #ffffff;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 72px 10px;
}

.search-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-result .features-white-inner,
.search-price .features-white-inner {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 35px;
}

.search-price .features-white-inner {
  padding-bottom: 20px;
}

/* ----------------------------------------checkbox start---------------------------------------- */

.search-request-choice input{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search-request-choice {
  padding-left: 40px;
  padding-bottom: 20px;
}

.icon-check {
  position: absolute;
  width: 27px;
  height: 23px;
  margin-left: -40px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
 }

.choice-check:checked + .icon-check {
   position: absolute;
   width: 27px;
   height: 23px;
   margin-left: -40px;
   background-image: url(../img/checkbox-on.svg);
   background-repeat: no-repeat;
}

.choice-check:disabled + .icon-check {
  position: absolute;
  width: 27px;
  height: 23px;
  margin-left: -40px;
  background-image: url(../img/checkbox-dis-off.svg);
  background-repeat: no-repeat;
}

.choice-check:checked:disabled + .icon-check {
   position: absolute;
   width: 27px;
   height: 23px;
   margin-left: -40px;
   background-image: url(../img/checkbox-dis-on.svg);
   background-repeat: no-repeat;
 }

.choice-check:focus + .icon-check {
    -webkit-box-shadow: 0 0 2px 3px #81B3D2;
            box-shadow: 0 0 2px 3px #81B3D2;
}

 /* ----------------------------------------checkbox end---------------------------------------- */


 /* ----------------------------------------price range start---------------------------------------- */

.price-range {
  width: 315px;
  height: 32px;
  border: 2px solid #ffffff;
  position: relative;
  font-size: 0;
}

.price-range::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;

  background-color: #ffffff;

  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.price-range label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-range .min,
.price-range .max {
  width: 82px;
  padding-left: 65px;

}

.price-range input {
  width: 50px;
  margin: 0;
  color: #ffffff;

  background: none;
  border: none;
}

.slider {
  padding-top: 16px;
  position: relative;
  cursor: pointer;
}

.slider .line {
  width: 318px;
  height: 2px;
  background-color: rgba(255, 225, 225, 0.3);
}

.line-inside {
  width: 262px;
  height: 2px;
  background-color: #ffffff;
}

.slider-max::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 22px;

  background-image: url(../img/filter-button.svg);
  top: 50%;
  left: 0;

  margin-top: -2px;
}

.slider-min::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 22px;

  background-image: url(../img/filter-button.svg);
  top: 50%;
  right: 14%;

  margin-top: -2px;
}

.slider-min:hover::after,
.slider-max:hover::before {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.show {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 83px;
  margin-top: 32px;
  padding: 6px 35px;

  width: 137px;
  height: 36px;

  font-size: 14px;

  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffffff;
}
/* ----------------------------------------price range end---------------------------------------- */

.search-result {
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-request-choice {
  line-height: 25px;
  font-size: 14px;
}

.search-conditions h3 {
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-bottom: 10px;
}

.search-sort ul {
  list-style: none;
  padding-left: 35px;
}

.search-sort a {
  color: #000000;
}

.search-price {
  width: 318px;
  margin-left: auto;
}

.search-price p {
  font-size: 14px;
  text-align: center;
}

.search-price button {
  font-size: 14px;
  text-align: center;
  border: 2px solid #ffffff;
}

.search-price button:hover {
  color: #000000;
  border: 2px solid #ffffff;
  background-color: #ffffff;
}

.search-find {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.search-find a {
  color: #000000;
}

.search-find a:hover {
  color: #81B3D2;
}

.search-find a:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-sort {
  font-size: 12px;
  line-height: 18px;
  padding: 0px 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3.search-find {
  width: 135px;
  margin: 0;
  padding: 30px ;
  padding-left: 0;
}

.search-sort p {
  width: 80px;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 32px;
}

.search-select,
.search-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 32px;
}

.search-select {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-select li {
  padding-right: 33px;
}

.search-range {
  margin-left: auto;
}

.search-range li {
  /* margin: 0 4px; */
  padding-left: 13px;
}

.search-range-current svg  {
  fill: #81B3D2;
}

.search-range-current svg:hover,
.search-range-current svg:active  {
  fill: #81B3D2;
}

.search-range-passive svg {
  fill: #CACACA;
}

.search-range-passive svg:hover {
  fill: #000000;
}

.search-range-passive svg:active {
  fill: #81B3D2;
}

.find-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 27px 72px 31px;
  position: relative;
}

.hotel img {
  width: 135px;
  height: 90px;
  background-color: #81B3D2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hotel-wrapper,
.hotel-type,
.hotel-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotel-wrapper {
  min-width: 280px;
  padding-left: 30px;
}

.hotel h1 {
 margin: 0;
 padding-bottom: 6px;
}

.type-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-type {
  width: 110px;
  padding-right: 7px;
}

.hotel-price {
  width: 142px;
}

.hotel-price-preview {
  padding-bottom: 16px;
}

.rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

      -ms-flex-direction: column;

          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  margin-left: auto;
}

.rating {
  width: 110px;
}

.rating p {
  margin: 0;
  font-size: 14px;
  background-color: #f2f2f2;
  padding-bottom: 5px;
  padding-top: 1px;
  text-align: center;
}

.four-stars {
  width: 91px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 42px;
}

.stars {
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.search-select-passive a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81B3D2;
}

.search-select-passive a:hover {
  color: #81B3D2;
  border-bottom: 1px dotted #81B3D2;
}

.search-select-passive a:active {
  color: #000000;
  border-bottom: 0;
}

.search-select-current a,
.search-select-current a:hover,
.search-select-current a:active {
  color: #81B3D2;
}

.hotel-price-preview {
  padding-bottom: 12px;
  font-size: 14px;
  color: #333333;
}

.search-sort,
.hotel {
  border-bottom: 1px solid #e5e5e5;
}

.button-detail {
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  margin: 0;
  padding-top: 2px;
  padding-bottom: 4px;

  background-color: #81b3d2;
  color: #ffffff;
}

.button-detail:hover {
  background-color: #669EC0;
}

.button-reserve {
  background-color: #766357;
}

.button-reserve:hover {
  background-color: #604E43;
}

.button-detail:active {
  background-color: #5496BD;
  color: rgba(225, 225, 225, 0.3);
}

.button-reserve:active {
  background-color: #503E33;
  color: rgba(225, 225, 225, 0.3);
}
