body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.centred {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------------------- начало стилизации -------------------------------- */

.main-header {
  padding-bottom: -14px;
  position: relative;
  background-color: #ffffff;

}

/* .navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  } */

.logo-navigation {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.main-navigation,
.features-leisure-list,
.footer-social {
  list-style: none;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;

  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-navigation a {
  color: #000000;
}


.main-navigation a:hover {
  color: #81B3D2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.site-navigation-current {
  padding: 15px 0;
  width: 240px;
  text-align: center;
}

.site-navigation:nth-child(2) {
  margin-right: 240px;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active {
  color: #766357;
}

.container,
.container-inner {
  background-color: #ffffff;
}

.main-intro {
  background-image: url("../img/bg-photo.jpg");
  background-repeat: no-repeat;
  background-color: #81B3D2;
  width: 1200px;
  padding: 75px 0 74px 0;
}

.features-sedona {
  padding-top: 63px;
  padding-left: 320px;
  padding-right: 320px;
  padding-bottom: 50px;
}

.features-sedona h1 {
  margin: 0;
  padding: 14px 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.features-sedona p {
  margin: 0;
  padding: 16px 0;
  line-height: 26px;
  color: #333333;
}

.features {
  display: flex;
  flex-direction: column;
}

.features-advantage {
  background-color: #81B3D2;
  color: #ffffff;
}

.features-point-left,
.features-point-right {
  width: 400px;
  box-sizing: border-box;
  padding: 45px 60px ;
}

.features-point-left {
  float: left;
}

.features-point-right {
  float: right;
  padding-top: 45px;
  padding-bottom: 0;
}

.features-foto {
  font-size: : 0;
  line-height: 0;
}

.features-advantage h2,
.features-leisure h2 {
  margin: 0;
  padding: 17px 0;
  font-size: 21px;
  font-weight: bold;
}

.features-leisure p {
  color: #333333;
  margin: 0;
  padding: 16px 0;
}

.features-leisure-list {
  margin: 0;
  padding: 0;
  display: flex;
}


.features-leisure-item {
  width: 400px;
  padding: 60px 45px 85px 45px;
}

.features-interest {
  padding: 56px 350px 35px;
}

.features-interest h2 {
  margin: 0;
  font-size: 30px;
  line-height: 78px;

}

.features-interest p {
  margin: 0;
  line-height: 24px;
  color: #333333;
}

.last {
  background-color: #eeeeee;
}

.search-hotel{
  width: 568px;
  margin: 0 auto;
  position: relative;
}

.search-hotel h2 {
  font-size: 21px;
  color: white;
  background-color: #766357;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.search-hotel h2:hover {
  background-color: #604E43;
}

.search-hotel h2:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.3);
}

form.search {
  width: 568px;

  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  padding: 55px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);
}


.search-data {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 29px;
}
.search input {
  width: 338px;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 12px;
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  color: #000000;
  border-style: none;
}

.select-date {
  position: relative;
}

.select-date::after {
  content: "";
  position: absolute;

  width: 21px;
  height: 23px;

  top: 7px;
  right: 9px;

  background-color: transparent;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='21px' height='23px' viewBox='0 0 21 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3Ecalendar%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='calendar' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg fill='%23A9A9A9' fill-rule='nonzero' id='Shape'%3E%3Cpath d='M19.251,3.025 L16.406,3.025 L16.406,1.648 C16.406,1.267 16.112,0.959 15.75,0.959 C15.387,0.959 15.094,1.267 15.094,1.648 L15.094,3.025 L11.156,3.025 L11.156,1.648 C11.156,1.267 10.862,0.959 10.501,0.959 C10.138,0.959 9.844,1.267 9.844,1.648 L9.844,3.025 L5.906,3.025 L5.906,1.648 C5.906,1.267 5.612,0.959 5.25,0.959 C4.887,0.959 4.593,1.267 4.593,1.648 L4.593,3.025 L1.75,3.025 C0.784,3.025 0,3.847 0,4.862 L0,21.164 C0,22.179 0.784,23 1.75,23 L19.251,23 C20.217,23 21,22.179 21,21.164 L21,4.862 C21,3.847 20.217,3.025 19.251,3.025 Z M19.688,21.164 C19.6909535,21.2828271 19.6465635,21.3979571 19.5646025,21.4840442 C19.4826416,21.5701314 19.3698288,21.6201182 19.251,21.623 L1.75,21.623 C1.50263177,21.6164524 1.30696426,21.4114036 1.312,21.164 L1.312,4.862 C1.30696426,4.61459638 1.50263177,4.40954755 1.75,4.403 L4.594,4.403 L4.594,5.781 C4.594,6.162 4.888,6.47 5.251,6.47 C5.613,6.47 5.907,6.162 5.907,5.781 L5.907,4.403 L9.845,4.403 L9.845,5.781 C9.845,6.162 10.139,6.47 10.502,6.47 C10.863,6.47 11.157,6.162 11.157,5.781 L11.157,4.403 L15.095,4.403 L15.095,5.781 C15.095,6.162 15.388,6.47 15.751,6.47 C16.113,6.47 16.407,6.162 16.407,5.781 L16.407,4.403 L19.252,4.403 C19.493,4.403 19.689,4.609 19.689,4.862 L19.689,21.164 L19.688,21.164 Z'%3E%3C/path%3E%3Cpath d='M4.594,9.225 L7.219,9.225 L7.219,11.291 L4.594,11.291 L4.594,9.225 Z M4.594,12.668 L7.219,12.668 L7.219,14.735 L4.594,14.735 L4.594,12.668 Z M4.594,16.112 L7.219,16.112 L7.219,18.178 L4.594,18.178 L4.594,16.112 Z M9.188,16.112 L11.813,16.112 L11.813,18.178 L9.188,18.178 L9.188,16.112 Z M9.188,12.668 L11.813,12.668 L11.813,14.735 L9.188,14.735 L9.188,12.668 Z M9.188,9.225 L11.813,9.225 L11.813,11.291 L9.188,11.291 L9.188,9.225 Z M13.781,16.112 L16.406,16.112 L16.406,18.178 L13.781,18.178 L13.781,16.112 Z M13.781,12.668 L16.406,12.668 L16.406,14.735 L13.781,14.735 L13.781,12.668 Z M13.781,9.225 L16.406,9.225 L16.406,11.291 L13.781,11.291 L13.781,9.225 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");


}



.persons-mature,
.persons-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.persons-mature {
  width: 226px;
}

.persons-mature input,
.persons-child input {
  box-sizing: border-box;
  width: 114px;
  padding-left: 16;
  padding-right: 0;
  text-align: center;
}

.button-plus,
.button-minus {
  position: absolute;
  font-size: 0;
  width: 38px;
  height: 38px;

  top: 0;
  right: 0;

  border: 0;

  background-color: transparent;
}

.button-minus {
  right: 76px;
}


.button-minus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;

  background-color: #A9A9A9;

  top: 18px;
  left: 14px;
}

.button-plus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;

  background-color: #A9A9A9;

  top: 18px;
  left: 14px;
}

.button-plus::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  transform: rotate(90deg);

  background-color: #A9A9A9;

  top: 18px;
  left: 14px;
}


.persons-child {
  width: 179px;
}

.button-search {
  background-color: #81B3D2;
  font-weight: bold;
  color: white;
  height: 58px;
  text-transform: uppercase;
  flex-grow: 1;
}

.button-search:hover {
  background-color: #669EC0;
}

.footer-index {
  padding: 0;
  margin: 0;
  position: relative;
}


.map {
  font-size: 0;
  line-height: 0;
  margin-bottom: -120px;
}

.map-sedona {
  width: 1200px;
  height: 595px;
}

.main-footer-index {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 5;
}


.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-index .main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-link,
.footer-social,
.footer-copyright {
  margin: 0;
  width: 400px;
  padding: 0;
}

.footer-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 13px;
}

.main-footer a,
.footer-link a,
.footer-copyright a {
  color: #000000;
}

.footer-social {
  width: 400px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  background-color: #81B3D2;
  font-size: 0;
  line-height: 0;
  margin: 0 3px;
}

.social-button:hover {
  background-color: #669EC0;
}

.social-button svg {
  fill: #ffffff;
}

.social-button:active svg {
  opacity: 0.3;
}



.footer-copyright a{
  display: flex;
  justify-content: center;
  padding-top: 2px;
}

.footer-by {
  width: 110px;
  padding-top: 10px;
}

.footer-copyright svg {
  fill: #000000;
}

.footer-copyright:hover svg {
  fill: #81b3d2;
}

.footer-copyright:active svg {
  fill: #bdbbbc;
}


/* -------------------------- стилизую внутренюю -------------------------- */


.container-inner {
  text-align: left;
}

 .search-inner {
  background-image: url("../img/inner-background.jpg");
  background-repeat: no-repeat;
  background-color: #81B3D2;
  color: #ffffff;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
  padding: 26px 72px 33px;
}

.search-conditions {
  display: flex;
}

/* ----------------------------------------checkbox---------------------------------------- */
/* .search-request-choice input{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0)
} */

/* .icon-check {
  width: 27px;
  height: 23px;
  margin-left: -40px;
  background-color: red; */
/* } */

.search-result {
  width: 255px;
  display: flex;
  flex-direction: column;
}

.search-request-choice {
  line-height: 25px;
  font-size: 14px;
}

.search-conditions h3 {
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

.search-sort ul {
  list-style: none;
}

.search-sort a {
  color: #000000;
}


.search-price {
  width: 320px;
  margin-left: auto;
}

.search-price p, {
  font-size: 14px;
  text-align: center;
}

.search-price button {
  font-size: 14px;
  text-align: center;
  border: 2px solid #ffffff;
}

.search-price button:hover {
  color: #000000;
  border: 2px solid #ffffff;
  background-color: #ffffff;
}

.search-find {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.search-find a {
  color: #000000;
}

.search-find a:hover {
  color: #81B3D2;
}

.search-find a:active {
  color: rgba(0, 0, 0, 0.3);
}



.search-sort {
  font-size: 12px;
  line-height: 18px;
  padding: 0px 72px;
  display: flex;
}

h3.search-find {
  width: 135px;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 32px;
  padding-right: 30px;
}

.search-sort p {
  width: 80px;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 32px;
}

.search-select,
.search-range {
  display: flex;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 32px;
}

.search-select {
  flex-wrap: wrap;
}

.search-select li {
  padding-right: 30px;
}

.search-range {
  margin-left: auto;
}

.search-range li {
  margin: 0 6px;
}

.search-range-current svg  {
  fill: #81B3D2;
}

.search-range-current svg:hover,
.search-range-current svg:active  {
  fill: #81B3D2;
}

.search-range-passive svg {
  fill: #CACACA;
}

.search-range-passive svg:hover {
  fill: #000000;
}

.search-range-passive svg:active {
  fill: #81B3D2;
}


.find-result {
  padding: 0 72px;
  display: flex;
  flex-direction: column;
}

.hotel {
  display: flex;
  align-items: center;
}

.hotel img {
  width: 135px;
  height: 90px;
  background-color: #81B3D2;
  /* padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px; */
  }

.hotel-wrapper,
.hotel-type,
.hotel-price {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hotel-wrapper {
  min-width: 280px;
  padding-left: 30px;
  padding-top: 23px;
  padding-bottom: 30px;
}

.hotel h1 {
 margin: 0;
 padding-bottom: 7px;
/*  padding-top: 24px;
 font-size: 21px;
 line-height: 26px;*/
}


.type-price {
  display: flex;
}

.hotel-type {
  width: 110px;
  padding-right: 7px;
}

.hotel-price {
  width: 142px;
}

.hotel-price-preview {
  padding-bottom: 16px;
}

.rating {
  width: 110px;
  margin-left: auto;
  margin-top: auto;

}

.rating p {
  font-size: 14px;
  background-color: #f2f2f2;
  badding-bottom: 5px;
  padding-top: 1px;
  text-align: center;
}

.search-select-passive a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81B3D2;
}

.search-select-passive a:hover {
  color: #81B3D2;
  border-bottom: 1px dotted #81B3D2;
}

.search-select-passive a:active {
  color: #000000;
  border-bottom: 0;
}

.search-select-current a,
.search-select-current a:hover,
.search-select-current a:active {
  color: #81B3D2;
}


.hotel-price-preview {
  padding-bottom: 15px;
  font-size: 14px;
  color: #333333;
}

.search-sort,
.hotel {
  border-bottom: 1px solid #e5e5e5;
}

.button-detail {
  margin: 0;
  background-color: #81b3d2;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: bold;
}

.button-detail:hover {
  background-color: #669EC0;
}

.button-reserve {
  background-color: #766357;
}

.button-reserve:hover {
  background-color: #604E43;
}

.button-detail a:active,
.button-reserve a:active {
  color: rgba(225, 225, 225, 0.3);
}
